@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.videoContainer {
  width: 100;
  height: 100vh;
}

.videoBg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.MuiButton-containedPrimary {
  background-color: #1976d2;
}